{
  "snippets.ultisnips.directories": [
    "UltiSnips"
  ],
  "codeLens.enable": true,
  "suggest.timeout": 5000,
  "coc.preferences.formatOnType": true,
  "go.enable": true,
  "go.goplsOptions": {
    "completeUnimported": true
  },
  "explorer.toggle": true,
  "explorer.quitOnOpen": true,
  "explorer.icon.enableNerdfont": true,
  "explorer.position": "right",
  "explorer.width": 70,
  "explorer.file.showHiddenFiles": true,
  "explorer.previewAction.onHover": false,
  "diagnostic-languageserver.linters": {
    "phpcs": {
      "command": "phpcs",
      "debounce": 100,
      "rootPatterns": [ "composer.json", "composer.lock", "vendor", ".git" ],
      "args": [ "--standard=PSR12", "--report=emacs", "-s", "-" ],
      "offsetLine": 0,
      "offsetColumn": 0,
      "sourceName": "phpcs",
      "formatLines": 1,
      "formatPattern": [
        "^.*:(\\d+):(\\d+):\\s+(.*)\\s+-\\s+(.*)(\\r|\\n)*$",
        {
          "line": 1,
          "column": 2,
          "message": 4,
          "security": 3
        }
      ],
      "securities": {
        "error": "error",
        "warning": "warning"
      }
    },
    "phpmd": {
      "command": "phpmd",
      "debounce": 100,
      "rootPatterns": [ "composer.json", "composer.lock", "vendor", ".git" ],
      "args": [ "%file", "json", "phpmd.xml" ],
      "offsetLine": 0,
      "offsetColumn": 0,
      "sourceName": "phpmd",
      "parseJson": {
        "errorsRoot": "files[0].violations",
        "line": "beginLine",
        "endLine": "endLine",
        "security": "priority",
        "message": "${rule}: ${description} (${ruleSet})"
      },
      "securities": {
        "1": "error",
        "2": "warning",
        "3": "info"
      }
    }
  },
  "diagnostic-languageserver.filetypes": {
    "php": ["phpcs", "phpstan", "phpmd"],
    "javascript": "eslint",
    "markdown": "markdownlint"
  },
  "diagnostic-languageserver.formatters": {
    "gofumpt": {
      "command": "gofumpt",
      "args": ["-s", "-extra"],
      "rootPatterns": ["go.mod", ".git"]
    }
  },
  "diagnostic-languageserver.formatFiletypes": {
    "go": "gofumpt"
  }
}
