{
  "snippets.ultisnips.directories": [
    "UltiSnips"
  ],
  "codeLens.enable": true,
  "suggest.timeout": 5000,
  "coc.preferences.formatOnType": true,
  "coc.preferences.messageLevel": "more",
  "go.enable": true,
  "go.goplsOptions": {
    "completeUnimported": true
  },
  "explorer.toggle": true,
  "explorer.quitOnOpen": true,
  "explorer.icon.enableNerdfont": true,
  "explorer.position": "right",
  "explorer.width": 70,
  "explorer.file.showHiddenFiles": true,
  "explorer.previewAction.onHover": false,
  "diagnostic-languageserver.debug": false,
  "diagnostic-languageserver.trace.server": "off",
  "diagnostic-languageserver.linters": {
    "phpcs": {
      "command": "phpcs",
      "debounce": 100,
      "rootPatterns": [ "composer.json", "composer.lock", "vendor", ".git" ],
      "args": [ "--standard=phpcs.xml", "--report=emacs", "-s", "-" ],
      "offsetLine": 0,
      "offsetColumn": 0,
      "sourceName": "phpcs",
      "formatLines": 1,
      "formatPattern": [
        "^.*:(\\d+):(\\d+):\\s+(.*)\\s+-\\s+(.*)(\\r|\\n)*$",
        {
          "line": 1,
          "column": 2,
          "message": 4,
          "security": 3
        }
      ],
      "securities": {
        "error": "error",
        "warning": "warning"
      }
    },
    "phpmd": {
      "command": "phpmd",
      "debounce": 100,
      "rootPatterns": [ "composer.json", "composer.lock", "vendor", ".git" ],
      "args": [ "%file", "json", "phpmd.xml" ],
      "offsetLine": 0,
      "offsetColumn": 0,
      "sourceName": "phpmd",
      "parseJson": {
        "errorsRoot": "files[0].violations",
        "line": "beginLine",
        "endLine": "endLine",
        "security": "priority",
        "message": "${rule}: ${description} (${ruleSet})"
      },
      "securities": {
        "1": "error",
        "2": "warning",
        "3": "info"
      }
    },
    "golint": {
      "command": "golint",
      "rootPatterns": [ ".git", "go.mod" ],
      "debounce": 100,
      "args": [ "%file" ],
      "sourceName": "golint",
      "formatLines": 1,
      "formatPattern": [
        "^([^:]+):(\\d+):(\\d+):\\s+(.*)$",
        {
          "sourceName": 1,
          "line": 2,
          "column": 3,
          "endLine": 2,
          "endColumn": 3,
          "message": [4]
        }
      ]
    },
    "golangci-lint-2": {
      "command": "golangci-lint",
      "rootPatterns": [ ".git", "go.mod" ],
      "debounce": 100,
      "args": [ "run", "--out-format", "line-number", "--enable-all" ],
      "sourceName": "golangci-lint",
      "formatLines": 3,
      "formatPattern": [
        "^([^:]+):(\\d+):(\\d+):\\s+(.*)$",
        {
          "sourceName": 1,
          "line": 2,
          "column": 3,
          "endLine": 2,
          "endColumn": 3,
          "message": [4]
        }
      ]
    },
    "golangci-lint-json": {
      "command": "golangci-lint",
      "rootPatterns": [ ".git", "go.mod" ],
      "debounce": 100,
      "args": [ "run", "--out-format", "json", "--enable-all", "%filepath" ],
      "sourceName": "golangci-lint",
      "parseJson": {
        "errorsRoot": "Issues",
        "sourceName": "Pos.Filename",
        "line": "LineRange.From",
        "endLine": "LineRange.To",
        "message": "${Text} (${FromLinter})"
      }
    }
  },
  "diagnostic-languageserver.filetypes": {
    "php": ["phpcs", "phpstan", "phpmd"],
    "javascript": "eslint",
    "markdown": "markdownlint",
    "go": "golangci-lint"
  },
  "diagnostic-languageserver.formatters": {
    "gofumpt": {
      "command": "gofumpt",
      "args": ["-s", "-extra"],
      "rootPatterns": ["go.mod", ".git"]
    }
  },
  "diagnostic-languageserver.formatFiletypes": {
    "go": "gofumpt"
  }
}
