{
  "snippets.ultisnips.directories": [
    "UltiSnips"
  ],
  "codeLens.enable": true,
  "suggest.timeout": 5000,
  "coc.preferences.formatOnType": true,
  "coc.preferences.messageLevel": "more",
  "coc.preferences.useQuickfixForLocations": false,
  "coc.preferences.formatOnSaveFiletypes": ["go","php"],
  "go.enable": true,
  "go.goplsOptions": {
    "completeUnimported": true,
    "gofumpt": true
  },
  "explorer.toggle": true,
  "explorer.quitOnOpen": true,
  "explorer.icon.enableNerdfont": true,
  "explorer.position": "right",
  "explorer.width": 70,
  "explorer.file.showHiddenFiles": true,
  "explorer.previewAction.onHover": false,
  "diagnostic.virtualTextPrefix": " ",
  "diagnostic.messageTarget": "echo",
  "diagnostic.virtualText": true,
  "diagnostic.virtualTextCurrentLineOnly": false,
  "diagnostic-languageserver.debug": false,
  "diagnostic-languageserver.trace.server": "off",
  "diagnostic-languageserver.linters": {
    "phpcs": {
      "command": "phpcs",
      "debounce": 100,
      "rootPatterns": [ "composer.json", "composer.lock", "vendor", ".git" ],
      "args": [ "--standard=phpcs.xml", "--report=emacs", "-s", "%file" ],
      "offsetLine": 0,
      "offsetColumn": 0,
      "sourceName": "phpcs",
      "formatLines": 1,
      "formatPattern": [
        "^.*:(\\d+):(\\d+):\\s+(.*)\\s+-\\s+(.*)(\\r|\\n)*$",
        {
          "line": 1,
          "column": 2,
          "message": 4,
          "security": 3
        }
      ],
      "securities": {
        "error": "error",
        "warning": "warning"
      }
    },
    "phpmd": {
      "command": "phpmd",
      "debounce": 100,
      "rootPatterns": [ "composer.json", "composer.lock", "vendor", ".git" ],
      "args": [ "%file", "json", "phpmd.xml" ],
      "offsetLine": 0,
      "offsetColumn": 0,
      "sourceName": "phpmd",
      "parseJson": {
        "errorsRoot": "files[0].violations",
        "line": "beginLine",
        "endLine": "endLine",
        "security": "priority",
        "message": "${rule}: ${description} (${ruleSet})"
      },
      "securities": {
        "1": "error",
        "2": "warning",
        "3": "info"
      }
    },
    "golangci-lint-json": {
      "command": "golangci-lint",
      "rootPatterns": [ ".git", "go.mod" ],
      "debounce": 100,
      "args": [ "run", "--out-format", "json", "--enable-all" ],
      "sourceName": "golangci-lint",
      "parseJson": {
        "errorsRoot": "Issues",
        "sourceName": "Pos.Filename",
        "sourceNameFilter": true,
        "line": "LineRange.From",
        "endLine": "LineRange.To",
        "message": "${Text} (${FromLinter})"
      }
    }
  },
  "diagnostic-languageserver.filetypes": {
    "php": ["phpcs", "phpmd", "phpstan"],
    "javascript": "eslint",
    "markdown": "markdownlint",
    "go": "golangci-lint-json"
  },
  "languageserver": {
    "kotlin": {
      "command": "kotlin-language-server",
      "filetypes": ["kotlin"]
    }
  }
}
