{{- if eq .chezmoi.osRelease.id "arch" -}}
dbus-update-activation-environment --all
[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources

xset fp rehash
# wmname LG3D

export _JAVA_OPTIONS='-Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel -Dawt.useSystemAAFontSettings=gasp'

systemctl --user import-environment DISPLAY

udiskie --tray &
picom &

[[ -f ~/.Xmodmap ]] && xmodmap ~/.Xmodmap

export DESKTOP_SESSION=i3
exec i3
{{- end -}}
