#
# User configuration sourced by interactive shells
#

# Define Zim location
ZIM_HOME=${ZDOTDIR:-${HOME}}/.zim

# Start Zim
[[ -s ${ZIM_HOME}/zimfw.zsh ]] && source ${ZIM_HOME}/zimfw.zsh

# Secrets
{{- if eq .chezmoi.hostname "Daniels-MacBook-Pro" }}
export GITLAB_URL={{ (onepassword "weypmxevbpo6kfczdruhux5qcy").overview.url }}
export GITLAB_TOKEN={{ (first (first (onepassword "weypmxevbpo6kfczdruhux5qcy").details.sections).fields).v }}
{{- end }}

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LC_CTYPE=UTF-8
export GPG_TTY=`tty`

export PATH=$PATH:~/.composer/vendor/bin:~/.local/bin:~/go/bin:~/.gem/ruby/2.6.0/bin

{{- if eq .chezmoi.os "darwin" }}
export PATH="/usr/local/opt/node@8/bin:/usr/local/sbin:$PATH"
alias pc="~/projects/personio/perctl"
alias wl="nvim ~/projects/private/personio/worklog.md"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
source /usr/share/nvm/init-nvm.sh
{{- end }}

# Docker
alias dc="docker-compose"
alias dm="docker-machine"
alias de="docker exec -it"
alias d="docker"
alias kc="kubectl"

# kitty ssh
alias ssh="kitty +kitten ssh"

# Unix
alias ln='ln -v'
alias mkdir='mkdir -p'
alias l='ls'
alias ll='ls -lah'
if [[ -x "$(command -v exa)" ]]
then
  alias ls="exa"
  alias l="exa"
  alias ll="exa -lah --git --group-directories-first"
fi

alias vi="nvim"
alias vim="nvim"

alias xmm="xmodmap ~/.Xmodmap"

alias ap="ansible-playbook"
alias tf="terraform"
if [[ -x "$(command -v bat)" ]]
then
  alias cat="bat"
fi

if [[ -x "$(command -v hcloud)" ]]
then
  source <(hcloud completion zsh)
fi
if [[ -x "$(command -v kubectl)" ]]
then
  source <(kubectl completion zsh)
fi
if [[ -x "$(command -v jira)" ]]
then
  source <(jira --completion-script-zsh)
fi

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
[ -f ~/.tmuxinator.zsh ] && source ~/.tmuxinator.zsh

if [[ -x "$(command -v jenv)" ]]
then
  export PATH="$HOME/.jenv/bin:$PATH"
  eval "$(jenv init -)"
fi
