#!/bin/bash
set -xe

{{- if eq .chezmoi.hostname "falcon9" -}}
# install aur helper
if [[ ! -x "$(command -v yay)" ]]
then
    cd /tmp
    git clone https://aur.archlinux.org/yay.git
    cd yay
    makepkg -si
fi

yay="yay -S --needed --noconfirm"

$yay \
{{- /* essential tools */}}
  bat git-delta-bin exa htop iotop powertop httpie jq \
  mc ncdu unzip wget make ranger nano ytop glow \
{{- /* other tools */}}
  1password-cli aws-cli hostsctl \
  android-file-transfer android-tools usbutils \
{{- /* i3 and tools */}}
  i3-gaps dunst feh checkupdates-aur i3lock-fancy-git rofi udiskie \
  gksu imwheel pavucontrol playerctl-git network-manager-applet \
  networkmanager-openvpn py3status gparted dex wpa_actiond \
  pulseaudio-bluetooth picom \
{{- /* desktop apps */}}
  kitty spotify tor-browser vlc firefox \
{{- /* infrastructure */}}
  minikube docker-compose helm terraform tflint ansible hcloud \
{{- /* databases */}}
  mysql-workbench mariadb-clients tableplus \
{{- /* neovim */}}
  neovim fzy ripgrep the_silver_searcher tmux tmuxinator \
  editorconfig-core-c \
{{- /* displays */}}
  arandr autorandr \
{{- /* languages */}}
  composer xdebug php-gd php-intl php-phpdbg php-sqlite php-tidy \
  go go-tools \
  nvm yarn \
  lua luarocks \
{{- /* api's */}}
  postman-bin openapi-generator

# laptop specific
$yay acpilight laptop-mode-tools thermald upower

{{- end }}
{{ if eq .chezmoi.os "darwin" -}}
brew tap jason0x43/homebrew-neovim-nightly
# homebrew returns error if the formula is installed and outdated
brew install bat exa awscli composer ctop git-delta fzy go \
  gradle helm htop httpie jenv jq midnight-commander ncdu \
  ranger ripgrep terraform tflint the_silver_searcher tmux \
  tmuxinator watch wget wifi-password yarn zsh glow \
  clang-format rust node neovim-nightly mysql-client libpq || true
brew install --cask jetbrains-toolbox || true
brew install --cask kitty || true
brew install koekeishiya/formulae/skhd || true
brew install koekeishiya/formulae/yabai || true
brew install golangci/tap/golangci-lint || true
brew install dty1er/tap/kubecolor || true
{{- end }}

sudo npm install -g \
  intelephense \
  diagnostic-languageserver \
  markdownlint-cli \
  vim-language-server \
  vls \
  vscode-css-languageserver-bin \
  typescript

{{ if ne .chezmoi.os "darwin" -}}
pip3 install --upgrade \
  pip \
  ansible \
  "ansible-lint[community,yamllint]"
{{- end }}
