local g = vim.g
local map = require("utils").wkmap

map("n", "<F5>", ":DBUIToggle<CR>", 'Open database drawer', {silent = true})
map("n", "<Leader><F5>", ":DBUILastQueryInfo<CR>", 'Last database query results', {silent = true})

g.db_ui_use_nerd_fonts = 1
g.db_ui_execute_on_save = 0

{{- define "database_type" -}}
{{ if eq . "postgresql" }}postgres:{{ else }}{{ . }}:{{- end -}}
{{- end -}}

{{ define "database" -}}
  ["{{ .title }}"] = [[{{ template "database_type" .database_type }}//{{ .username }}:{{ .password }}@{{ .hostname }}:{{ .port }}/{{ .database }}]],
{{- end }}
{{- $vault := "Personal" }}
{{ if eq .usage "work" }}{{ $vault = "Personio" }}{{ end -}}

g.dbs = {
{{- range (secretJSON "list" "items" "--vault" $vault "--categories" "Database") }}
  {{ template "database" (secretJSON "get" "item" .uuid "--fields" "title,database_type,hostname,port,database,username,password") -}}
{{ end }}
}

