local g = vim.g

{{- if eq .chezmoi.hostname "Daniels-MBP" "Daniels-MacBook-Pro" }}
{{- $token := "" -}}
{{- range (first (onepassword "weypmxevbpo6kfczdruhux5qcy").details.sections).fields -}}
  {{- if eq .n "m2fjl6qwheul3fzg7uwougx6y4" -}}
    {{- $token = .v -}}
  {{- end -}}
{{- end -}}

{{- if ne $token "" }}
g.fugitive_gitlab_domains = { '{{ (onepassword "weypmxevbpo6kfczdruhux5qcy").overview.url }}' }
g.gitlab_api_keys = { ['{{ (onepassword "weypmxevbpo6kfczdruhux5qcy").overview.url }}'] = '{{ $token }}' }
{{- end }}
{{- end }}
